<template>
  <div>
  <img v-bind:src="posterImage" alt="" class="pull-left poster-img">
  <p>
    {{movieDesc}}
  </p>
  </div>
</template>

<script>
import { eventBus } from '../main'

export default {
  props: ['movies'],
  data () {
    return {
      movieDesc: 'waiting for movie',
      posterImage: '#'
    }
  },
  methods: {

  },
  created () {
    eventBus.$on('movieSelected', (data) => {
      this.movieDesc = this.movies[data].overview
      this.posterImage = 'https://image.tmdb.org/t/p/w500/' + this.movies[data].poster_path
    })

  }
}
</script>

<style>

</style>
