<template>
  
  <ul class="popular-movies">
    <li v-for="(movie,index) in movies" class="item" :data-id="index" :key="index" @click="getId($event)">
      {{ movie.title }}
    </li>
  </ul>  
    
</template>

<script>
import { eventBus } from '../main'

export default {
  props: ['movies'],
  data () {
    return {
      
    }
  },
  methods: {
    getId (e) {
      document.querySelectorAll('.popular-movies .item').forEach( (item,i,arr) => {
        arr[i].classList.remove('active')
      });
      var _id = +e.target.getAttribute('data-id')
      e.target.classList.toggle('active')
      eventBus.$emit('movieSelected', _id)
    }
  }
}
</script>

<style scoped>
  .popular-movies {
    list-style-type: none;
    padding-left: 0;
  }
  .popular-movies  li{
    cursor: pointer;
    padding: 5px;
    border-bottom: 2px solid #262626;
    transition: background-color .4s ease-in-out;
  }

  .popular-movies  li:hover,
  .popular-movies li.active {
    background-color: #ccc;
  }
</style>
