<template>
  <div id="app" class="container-fluid">
    <div class="row">

        <template v-if="errorMessage.length > 0"> 
          <h1 class="text-center"> {{errorMessage}} </h1>
        </template>

        <template v-else>

          <div class="col-md-12">
            <header>
              <h1>Movie Viewer</h1>
            </header>
          </div>

          <div class="col-md-5">
            <movie-list :movies="popularMovies"></movie-list>
          </div>

          <div class="col-md-7">
            <movie-desc :movies="popularMovies"></movie-desc>
          </div>          

        </template> 

    </div>
  </div>
</template>

<script>
import MovieList from './components/MovieList'
import MovieDesc from './components/MovieDesc'
import axios from 'axios'

export default {
  name: 'app',
  components: {
    MovieList,
    MovieDesc
  },
  mounted () {
    console.log(this)
    var url = 'https://api.themoviedb.org/3/movie/popular?api_key=4c878f62c9b9cd58010a31ae8e761006'
    axios.get(url)
           .then(data => {
             console.log(data)
             this.popularMovies = data.data.results
             return data
           })
          .catch(err => {
            console.log(err)
            this.errorMessage = 'There is an error! Please visit later!'
          })
  },
  data () {
    return {
      popularMovies: [],
      errorMessage: ''
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

img {
  max-width: 100%;
  height: auto;
}

.poster-img {
  width: 300px;
  margin-right: 15px;
}
</style>